@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
:root {
  --green: #16a085;
  --light-green: #9acd32;
  --white: #fff;
  --blue: #004a87;
  --gold:#c08e2d;
  --light-color: #777;
  --box-shadow: .5rem .5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: .4rem .4rem 0 rgba(0, 0, 0, 0.2);
  --border: .2rem solid var(--green);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
section {
  padding: 2rem 9%;
}

/*--- emcabezado y barra ---*/
.header {
  padding: 2rem 9%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue);
  border-bottom: 2px solid var(--gold);
  height: 8.75rem;
}
.logo{
display: flex;
align-items: center;
justify-content: center;
font-family: leelawadee,sans-serif;
font-weight: 700;

}
.logo a{
    text-transform: uppercase;
    margin-left: .625rem;
}

.header .logo {
  font-size: 2.5rem;
  color: var(--white);
  text-decoration: none;
}
.header .navbar a {
  font-size: 1.7rem;
  color: var(--white);
  margin-left: 2rem;
  text-transform: capitalize;
  text-decoration: none;
}

.header .navbar a:hover {
  color: var(--green);
}

.btn_action {
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  text-decoration: none;
  border: var(--border);
  background-color:var(--light-green);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color: var(--blue);
  cursor: pointer;
  font-size: 1.375em;
}

.btn_action:hover {
  background: var(--light-green);
  scale: 1.2;
  box-shadow: var(--box-shadow);
}

#menu-btn {
  font-size: 2.5rem;
  border-radius: .5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}
/* responsive */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 5rem;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: initial;
  }
  .header .navbar {
    position: absolute;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    border: #16a085 solid .2rem;
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }
  .header .navbar.active {
    transform: scale(1);
    opacity: 1;
    transition: 0.2s ease-out;
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2.5rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
    margin-left: 2rem;
    right: 0;
  }

  .navbar.active {
    width: -webkit-fill-available;
  }
}

/*home*/
.home {
  background-image: url();
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  animation: home 10s infinite;
  animation-direction: normal;
}
@keyframes home {
    0%, 30% {
      background-image: url("../assets/images/banner1.jpg");
      opacity: 1;
    }
    31%,
    33% {
      opacity: 0.1;
    }
    34%,
    65% {
      background-image: url("../assets/images/banner2.jpg");
      opacity: 1;
    }
    66%,
    68% {
      opacity: 0.1;
    }
    68%,
    100% {
      opacity: 1;
      background-image: url("../assets/images/banner3.jpg");
    }
  }
.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}

.home .image {
  flex: 1 1 35rem;
}

.home .image img {
  width: 80%;
}

.home .content h3 {
  font-size: 4.5rem;
  color: var(--white);
  line-height: 1.8;
  text-shadow: var(--text-shadow);
}

.home .content p {
  font-size: 1.7rem;
  color: var(--white);
  line-height: 1.8;
  padding: 1rem 0;
  text-shadow: var(--text-shadow);
}
.btn-home {
  display: inline-block;
  margin-top: 1rem;
  padding: .5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  color: var(--blue);
  cursor: pointer;
  background-color: var(--light-green);
  font-size: 18px;
  text-decoration: none;
}

.btn-home:hover {
  scale: 1.2;
}

.btn-home span {
  padding: .7rem 1rem;
  border-radius: .5rem;
  background: var(--green);
  color: #fff;
  margin-left: .3rem;
}

@media (max-width: 768px) {
  .home .image img {
    width: 40%;
  }
}

@media (max-width: 450px) {
  .home .image img {
    display: none;
  }
}

/*icons*/

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 4.5rem;
  color: var(--green);
  padding-bottom: .7rem;
}
.icons-container .icons h3 {
  font-size: 4.5rem;
  color: var(--white);
  padding: .5rem 0;
  text-shadow: var(--text-shadow);
}
.icons-container .icons p {
  font-size: 1.7rem;
  color: var(--light-color);
}

/* servicios*/
.heading {
  text-align: center;
  padding-bottom: 2rem;
  text-shadow: var(--text-shadow);
  text-transform: uppercase;
  color: var(--green);
  font-size: 5rem;
  letter-spacing: .4rem;
}

.heading span {
  text-transform: uppercase;
  color: var(--green);
}
.services {
  background: #f5f5f5;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.services .box-container .box {
  background: #fff;
  border-radius: .5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2.5rem;
}

.services .box-container .box i {
  color: var(--green);
  font-size: 5rem;
  padding-bottom: .5rem;
}
.services .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
  padding: 1rem 0;
}

/* acerca de */

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.about .row .image {
  /* flex: 1 1 20rem; */
  width: 500px;
  height: auto;
  margin-left: 50px;
}

.about .row .image img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 20rem;
}

.about .row .content h3 {
  color: var(--white);
  text-shadow: var(--text-shadow);
  font-size: 2rem;
  line-height: 1.8;
}

.about .row .content p {
  color: var(--light-color);
  padding: 1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-right: 20px;
}

/* eps */
.eps {
  background: #f5f5f5;
}

.eps .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
}

.eps .box-container .box {
  text-align: center;
  background: #fff;
  border-radius: .5rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 2rem;
}

.eps .box-container .box img {
  height: 15rem;
  border: var(--border);
  border-radius: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.eps .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
}

.eps .box-container .box .share {
  padding-top: 2rem;
}
.eps .box-container .box .share a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--green);
  border-radius: .5rem;
  border: var(--border);
  margin: 1rem;
}

.eps .box-container .box .share a:hover {
  background: var(--green);
  color: #fff;
  scale: 1.2;
  box-shadow: var(--box-shadow);
}

/*footer*/
.footer{
  border-top: 2px solid var(--gold);
  background-color:var(--blue);
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2rem;
 

}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--white);
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  color: var(--white);
  text-decoration: none;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: var(--green);
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credits {
  padding: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--light-color);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer .credits span {
  color: var(--green);
}
